body{
    background-color: blanchedalmond;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 30px;
    background-color: brown;
    color:white;

}
#reset-btn{
    height: 2rem;
    border-radius: 5px;
    background-color: cornflowerblue;
    color:whitesmoke;
    
    
}
#new{
    height: 2rem;
    background-color: cornflowerblue;
    color:whitesmoke;
    border-radius: 5px;
}
#msg{
    color: rgb(77, 1, 2);
    font-size: 8vmin;

}
.msg-con{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem

}
.hide{
    display: none;
}